/* styles/globals.css */

/* Import Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Roboto:wght@400;700&display=swap'); */

/* Body and Font Setup */
body {
  @apply bg-black text-white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-[#9687EC];
}

/* Links */
a {
  color: #9687EC; 
  text-decoration: none;
}

a:hover {
  color: #5644ba;
}

/* Buttons */
button {
  @apply bg-[#9687EC] text-white px-4 py-2 rounded-md font-bold transition duration-300 ease-in-out;
}

button:hover {
  background-color: #5644ba; /* Red color on hover */
}

button:disabled {
  @apply bg-gray-600 cursor-not-allowed opacity-50;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9687EC; /* Neon green */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ffff; /* Dark background */
}

/* Analytics Grid Container */
.analytics-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4;
}

/* Analytics Card */
.analytics-card {
  @apply bg-[#f7f7f7] text-black rounded-lg p-4 flex flex-col;
  height: 400px; /* Ensure consistent height */
}

/* Live Chat Card */
.commentary {
  @apply bg-white rounded-lg flex flex-col h-full text-[#9687EC];
}

/* Video Player Styles */
.video-container {
  @apply relative bg-white border border-gray-700;
}

/* AI Watching Indicator */
.ai-watching {
  @apply absolute top-4 right-4 bg-gray-500 bg-opacity-50 text-white px-2 py-1 rounded animate-pulse;
}

/* Custom Fonts */
/* .font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
} */

/* Custom Colors */
.text-neon-green {
  color: #9687EC;
}

/* .text-neon-purple {
  color: #DA70D6;
} */
